name: Build code

on: push

jobs:
  build-code:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install
        run: yarn
      - name: Build
        run: yarn build
      - name: Build pkg
        run: yarn build:pkg
