name: Build code

on: push

jobs:
  build-code:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          registry-url: 'https://registry.npmjs.org/'
      - name: Install
        run: yarn install --frozen-lockfile
      - name: Build
        run: yarn build
      - name: Build pkg
        run: yarn build:pkg
