name: Test code

on: push

jobs:
  test-code:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          node-version-file: .node-version
          registry-url: 'https://registry.npmjs.org/'
      - name: Install
        run: yarn install --frozen-lockfile
      - name: Test
        run: yarn test
